<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr_only">Toggle Navigation</span>
            <span class="icon_bar"></span>
            <span class="icon_bar"></span>
            <span class="icon_bar"></span>
            </button>
            <h1><%= link_to root_path do %> PPH <% end %></h1>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar navbar-right">
                <% if current_user%>
                <li>
                    Bem Vindo!
                    <%=current_user.name%>
                    <%=link_to "Sair",destroy_user_session_path, :method=> 'delete'%>
                </li>

                <% else %>
                <li><%= link_to "auth/facebook" do %> <%= image_tag('facebook.png', width: '60', height: '60', class: 'image-circle')%><%end%></li>
                <%end%>
            </ul>
        </div>
    </div>
</nav>

<% flash.each do |key, value|%>
    <div class="alert alert-info"><%= value %></div>
<% end %>
