<p id="notice"><%= notice %></p>

<h1>Algoritimos</h1>

<%=render partial: 'form_map', map: @algorithm%>

<%terrain=get_terrain("map/terrain_example.txt")%>

<%init=[1,1]%>
<%final=[42,42]%>
<%map=prepare_map(42,42,terrain,init,final)%>
<div id="fileDisplayArea"></div>

<div id="Mapa">
    <%=map.html_safe%>
</div>

<div id=algoritimos>
    <table>
        <tr>
            <td><%=button_to "Busca em Largura"%></td>
            <td><%=button_to "Busca em Profundidade"%></td>
            <td><%=button_to "Busca de Custo Uniforme"%></td>
            <td><%=button_to "Busca A*"%></td>
        </tr>
    </table>
</div>
